# Ignore all files using an opt-inn approach
*

# Add .gitignore and .gitattributes
!.gitignore
!.gitattributes

# Add license
!LICENSE.txt

# Add todo list
!ToDo.txt

# Add md files
!*.md

# Add fsx files
!*.fsx


# Add package.json and webpackconfig
!package.json
!webpack.config.js

# Add command and batch files
!*.cmd
!*.sh

# ignore release and publish nuget commands
release.cmd
publishnuget.cmd

# Add dotnet tool config
!/.config/
!/.config/*.json

# Add Docker files
!Dockerfile
!.dockerignore

# Add paket
!/.paket/
!/.paket/paket.exe
!/.paket/*.targets

# Add dependencies file
!paket.dependencies
!paket.lock
!paket.references
!paket.template

# Add yml files to ci on appveyor and travis
!appveyor.yml
!.travis.yml

# Add solution file
!*.sln

# Add fsharp project files
!*.fsproj

# Add configurarion files
!*app.config

# Add fsharp source files
!*.fs
!*.fsx

# Add source files
!/scripts/
!/src/
!/src/Shared/
!/src/Server/
!/src/Server/resources/
!/src/Server/resources/*.csv
!/src/Server/Scripts/
!/src/Server/Scripts/resources/
!/src/Server/Scripts/resources/*.csv
!/src/Client/
!/src/Client/public/*.*
!/src/Client/index.html
!/src/Client/style.scss
!/src/Client/Components/
!/src/Client/Pages/
!/src/Informedica.PICE.Lib/
!/src/Informedica.PICE.Lib/Scripts/
!/data/


# Add test files

# Add lib references
!/libs/
!/libs/*.dll

# data folder and files
!/resources/
!/resources/*.csv
