source https://www.nuget.org/api/v2
framework: 9.0
storage: none

nuget Fable.Elmish.React
nuget Fable.React.UseElmish
nuget Fable.Remoting.Client
nuget Fable.Remoting.Giraffe
nuget Fable.SimpleHTTP
nuget Feliz.Router
nuget FSharp.Core
nuget Feliz 2.9.0
nuget Saturn